body
{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    background-image: url(./Images/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 25, 25);
}
#left>h2
{
    font-size: 1.5rem;
    color: white;
}
#right>#items>li>a
{
    font-size: 1rem;
    color: white;
    font-weight: 100px;
    text-decoration: none;
}
#items
{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
}
#right
{
    margin-right: 5rem;
}
#left
{
    margin-left: 5rem;
}

/* ---------ls--------- */
#ls
{
    display: inline-block;
    justify-content: center;
     align-items: center;
    margin-left: 18rem;
    margin-top: 14rem;

}
#ls>h2
{
    margin: 0;
    color: white;
    font-size: 3.5rem;
    margin-left: 125px;
}
#ls>p
{
    margin: 0;
    color: whitesmoke;
    font-size: 1.5rem;
    padding-top: 10px;
}
#ls>a>button
{
    margin: 0;
    background-color: rgb(57, 164, 8);
    border: none;
    border-radius: 4.5px;
    color: white;
    text-decoration: none;
    font-size: 1.9rem;
    padding: 6px 21px;
    margin-left: 350px;
    margin-top: 20px;
    text-align: center;
}

/* ------------welcome----------- */
#wel
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#wel>#left , #wel>#right
{
    margin: 0;
    width: 45%;
    margin-top: 25%;
    margin-bottom: 8%;
}
#wel>#right
{
    display: flex;
    justify-content: center;
}
#wel>#left>h2
{
    color: black;
    font-size: 2rem;
}
#wel>#left>h2>span
{
    color: rgb(57, 164, 8);
}
#wel>#left>p
{
    color: rgba(0, 0, 0, 0.767);
    font-size: 15px;
}
#wel>#left>a>button
{
    background-color: rgb(57,164,8);
    border: none;
    border-radius: 2.8px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 11px 14px;
    margin-top: 1rem;
}
#wel>#right>div>h3
{
    margin-top: 2px;
    color: black;
    font-size: 1.4rem;
}
#wel>#right>div>p
{
    color: rgba(0, 0, 0, 0.767);
}

/* ----------Our Services----------- */
#os
{
    width: 100%;
   margin: 0;
   padding: 0; 
   background-color:  rgb(57,164,8);
   padding-top: 2%;
   padding-bottom: 4%;
}
#os>#l>h2
{
    color: white;
    font-size: 2.2rem;
    text-align: center;
}
#os>#l>p
{
    color: rgb(243, 238, 238) ;
    font-size: 1.2rem;
    text-align: center;
}
#os>#r
{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 85%;
    margin: 2rem auto auto auto;
}
#os>#r>div>img
{
    width: 200px;
    border-radius: 100%;
    border: 8px solid rgb();
}
#os>#r>div>h3
{
    color: whitesmoke;
    font-size: 1.4rem;
}
#os>#r>div>p
{
    color: rgb(243, 238, 238);
    font-size: 1rem;
}

/* --------Project Gallery---------- */
#pg
{
    margin: 0;
    padding: 0;
    padding-top: 4%;
}
#pg>#l
{
    text-align: center;
}
#pg>#l>h2
{
    color: black;
    font-size: 2rem;
}
#pg>#l>p
{
    text-align: center;
    color:rgba(0, 0, 0, 0.869) ;
    font-size: 1rem;
}
#pg>#l>a>#b1
{
    font-size: 1rem;
    padding: 4px 12px;
    color: white;
    background-color: rgb(57,164,8);
    border: none;
    
}
.project-gallery {
    text-align: center;
    padding: 20px;
}
.project-gallery h1 {
    margin-bottom: 10px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0rem;
    margin-left: 120px;
    padding: 85px;
    margin: 4px 16px 13px 1px;
}



.gallery img {
    width: 90%;
    height: 90%;
    gap:15px;
}
.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn {
    margin: 0 5px;
    padding: 10px 20px;
   
    color: rgb(14, 13, 13);
    border: none;
    cursor: pointer;
}

.filter-btn.active {
    color: white;
    background-color: #069e2c;
}
.testimonials, .contact-us, footer {
    text-align: center;
    padding: 60px;
}
.testimonials h1, .contact-us h1 {
    margin-bottom: 10px;
}
.testimonials {
    
    
     position: relative;
     text-align: center;
     color: white;
     background-image:linear-gradient(to right ,rgba(45, 165, 34, 0.863),rgba(69, 188, 58, 0.808)),url(./images/testimonials-bg.jpg); 
     background-size: cover;
     padding: 92px 20px;
     margin: 0px 0px 0px 0px;
    
}
/* .testimonials .overlay {
    position: relative;
    background: rgba(76, 175, 80, 0.8); 
    padding: 50px;
   /* margin:0px 0px 0px 0px ; */
   
    
    
    



.testimonials p {
    margin: 0 0 10px;
}

.testimonial-nav span {
    font-size: 20px;
    margin: 0 5px;
    
}


.contact-us {
    background-color: #f4f4f4;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-form input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
} 
.contact-form textarea {
    width: 56%;
    padding: 5px;
    margin-bottom: 42px;
    
}

.contact-form button {
    gap: 0px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    
}

footer {
    background-color: #333;
    color: rgb(131, 128, 128);
    padding: 10px 0;
}

.social-media a {
    margin: 0 10px;
}

.social-media i {
    width: 20px;
    height: 20px;
    
}
.fa-facebook-f{
    background-color:rgb(67, 64, 64);
    color:rgb(110, 178, 110);
    border-radius: 100%;

}
.fa-twitter{
    background-color:rgb(67, 64, 64);
    color:rgb(110, 178, 110);
    border-radius: 100%;

}
.fa-instagram{
    background-color:rgb(67, 64, 64);
    color:rgb(110, 178, 110);
    border-radius: 100%;

}





