*{
    padding: 0;
    margin:0;
}
body,html{
    width:100%;
    height:100%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url('./images/mount.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}
header{
    width:100%;
    height: 100px;
    background: rgba(0 0 0 / 49%);
}

header .logo{
    width:50%;
    height: 100%;
   
    float: left;
    color: white;
}
.logo h1{
    font-size: 45px;
    padding:  20px 100px;
    /* font-family: 'Calibri'; */
    color:white;
}
header .menu{
    width:50%;
    height: 100%;
   
    float: left;
}
.menu nav{
    
    width: 600px;
    height: 50px;
    
    margin: 28px auto;
}
.menu nav ul{
     list-style-type: none;
}
.menu nav ul li{
    float: left;
    padding: 0px 30px;
    line-height: 50px;
    text-transform: capitalize;
    font-family: 'calibri';
    
    
}
.menu nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
section{
    width:100%;
    height:600px;
    float:left;
}
section .banner{
    margin-top:220px;
}
.banner h1{
    font-size: 60px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'calibri';
    color: white;
    text-shadow: 0px 0px 18px white;
}
section .bannerbtn{
    margin-top: 20px;
    text-align: center;
    
    
}
.bannerbtn button{
    font-size: 18px;
    padding: 14px 40px;
    color: white;
    background-color: black;
    border:none;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 10px white;


}